* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121212;
}

/*===================
    Login Form
==================*/

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-active {
    display: flex;
}

.form-inactive {
    display: none;
}

.form-register {
    flex-direction: column;
    row-gap: 10px;
    box-shadow: 0 0 10px purple;
    align-items: center;
    border-radius: 10px;
    width: 350px;
    height: 590px;
    justify-content: center;
    animation: form 1s linear infinite;
}

.form-login {
    flex-direction: column;
    row-gap: 10px;
    box-shadow: 0 0 10px purple;
    align-items: center;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    justify-content: center;
    animation: form 1s linear infinite;
}

.title_container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.title {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: purple;
}

.input_container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
    width: 260px;
}

.input {
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    font-size: 17px;
    color: white;
}

.label {
    color: white;
    font-size: 20px;
}

.submit {
    color: purple;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-bottom: 10px;
}

.submit:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.form-switch-text {
    color: gray;
    margin-bottom: 15px;
}

.form-switch-register-btn,
.form-switch-login-btn {
    font-weight: 600;
    cursor: pointer;
}

/*=============
    Header
=============*/

.header {
    width: 100vw;
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

.header_icon {
    width: 120px;
    height: 90px;
    filter: drop-shadow(0 0 3px purple);
    transition: 0.2s ease-in-out;
}

.header_icon:hover {
    transition: 0.2s ease-in-out;
    filter: drop-shadow(0 0 6px purple);
}

.header_list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.header_list-item {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.header_logout {
    color: crimson;
    font-size: 25px;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.2s ease-in-out;
}

.header_logout:hover {
    transform: scale(1.09);
    transition: 0.2s ease-in-out;
    font-size: 28px;
}

/*====================
    Home Content
====================*/

.content_grid {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(300px, 700px);
    margin-top: 30px;
    row-gap: 30px;
}

.card_content {
    width: 330px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 4px purple;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.card_content:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 10px purple;
}

.card_content-img {
    width: 310px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    align-self: center;
    object-fit: cover;
}

.card_content-title {
    color: white;
    font-size: 18px;
    line-height: 25px;
    word-break: break-all;
}

/*===============
    Contact
================*/

.contactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    margin-top: 50px;
}

.contactCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    height: 80px;
    text-decoration: none;
    padding: 15px;
}

.contactCard:hover {
    box-shadow: 0 0 3px purple;
    border-radius: 10px;
}

.contactCard__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.contactCard__image {
    width: 70px;
    height: 70px;
}

.contactCard__info--name {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.contactCard__icon {
    width: 40px;
    height: 40px;
}

/*================
    Add Button
================*/
.AddButton {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(175, 2, 218);
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.line1 {
    width: 20px;
    height: 3px;
    background-color: #000;
}

.line2 {
    width: 3px;
    height: 20px;
    background-color: #000;
    transform: rotate(180);
    position: absolute;
}

/*======================
    New Content Page
======================*/
.NewContentForm {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
}

.NewContentForm-title {
    color: wheat;
    margin-bottom: 20px;
    margin-top: 20px;
}

.NewContentForm-input_container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

.NewContentForm-input {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
}

.NewContentForm-label {
    color: white;
    font-size: 20px;
}

.NewContentForm-area {
    width: 300px;
    height: 70px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}

.NewContentForm-submit {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 2, 218);
    margin-top: 30px;
    font-size: 23px;
    cursor: pointer;
    transition: .2s ease-in-out;
    outline: none;
    border: none;
}

.NewContentForm-submit:hover {
    transition: .2s ease-in-out;
    background-color: rgb(75, 34, 86);
    color: rgb(175, 2, 218);
}

/*===================
    Details Page
===================*/

.details_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details_content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.details_content-img {
    width: 360px;
    height: 450px;
    box-shadow: 0 0 5px rgb(203, 40, 244);
    border-radius: 10px;
}

.details_content-title {
    color: white;
    font-size: 23px;
    margin-top: 20px;
}

.details_content-text {
    color: gray;
    margin-top: 20px;
    font-size: 18px;
}

/*=================
    Animations 
=================*/

@keyframes form {
    0% {
        box-shadow: 0 0 10px rgb(175, 2, 218);
    }

    50% {
        box-shadow: 0 0 10px rgb(119, 4, 148);
    }

    100% {
        box-shadow: 0 0 10px rgb(175, 2, 218);
    }
}

/*=======================
    Responsive Tablet
=======================*/
@media screen and (min-width: 768px) {
    /*==Home Page==*/

    .content_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /*==Details Page==*/

    .details_content {
        flex-direction: row;
        gap: 20px;
    }
}

/*=======================
    Responsive Desktop
=======================*/
@media screen and (min-width: 1024px) {
    .content_grid {
        margin-left: 20%;
        margin-right: 20%;
    }
}